*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
    background-color: #89c5a2;
    color: #333;
    line-height: 1.6;
}

.Cabeçalho {
    color: #89c5a2;
text-align: center;
background-color: #436451;
padding: 12px;

}
h1{
    font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}